body{
    /* width: auto;
    margin: 5%;
    height: 50px;
    */
    background-color: rgb(199, 219, 224);
    
}
header{

    background-color: gray;
    border-radius: 15px;
    font-style: italic;
    padding: 2px;
}

nav,ul,li{

    list-style: none;
    padding: 0%;
    display: flex;
    gap: 200px;
    font-weight: bolder;
    font-style: italic;
   
}

footer{
    background-color: gray;
    border-radius: 15px;
}

h1{
    text-align: center;
    color: blue;
}


p.i{
    text-align: right;
}

img.a{
    
   align-items: center;
   display: flex;
   padding: 40px;
   float:right; 
}

img{
    transform: scale(1.0);
    transition: scale 1s;
}
img:hover{
    scale: 1.5;
}

p.V{
    text-align: center;
    color: rgb(16, 16, 229);
    font-weight: bolder;
    padding: 5px;
    
}
footer{
    margin-top: 50px;
}
aside{
    margin-top: 100px;
   
}

p.ix{

    text-align: left;
    
}

p.j{
    text-align: left;
}

hr{
    color: blue;
}

main{
    background-color: gainsboro;
}

a{
    text-decoration: none;
}

a:active{

    color: white;
}

a.i{
    border-radius: 15px;
    width: 100px;
    height: 30px;
    font-family: 'Roboto',sans-serif;
    font-size:12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px ;
    box-shadow: 0px 8px 15px rgba(0, 0,0, 1);
    transition: all 0,3s ease 0s;
    cursor: pointer;
    outline: none;

}

a.i:hover{
    background-color:blue ;
    box-shadow: 0px 15px 20px rgba(46,229, 157, 0.4);
    color: #fff;
    transform: translate(-7px);
}

hr{
    width: 33%;
    color: blue;
}

@media(max-width:600px){
  
    nav,ul{
        gap: 40px;
    }

    img{

        margin: auto;
        display: flex;
        padding: 40px;
        float:left; 
        flex-direction: column;
    
    }
   
}

div.icone{

    display: flex;
    padding: 20px;
    gap: 30px;
}