body{

    background-color: rgb(199, 219, 224);
    /*width: auto;
    margin: 10%; */
}

h1{
    text-align: center;
    color: blue
}

nav,ul{
     
    list-style: none;
    padding: 0%;
    display: flex;
    gap: 200px;
    font-weight: bolder;
    font-style: italic;
   
}

header{
    background-color: gray;
    border-radius: 15px;


}

main{
    background-color: gainsboro;
    text-align: center;
}

ol.i{

    text-align: center;

}

footer{
    
    background-color: gray;
    border-radius: 15px;
}

p.i{

    text-align: right;
}

img{
    transform: scale(1.0);
    transition: scale 1s;
}
img:hover{
    scale: 1.2;
}

h2{
    color:cornflowerblue;
}

a{
    text-decoration: none;
}

a:active{

    color:white;
}

hr{
    width: 33%;
    color: blue;
}

@media  (max-width:600px){

    nav,ul{
        gap: 40px;

    }
    
}


@media  (min-width:700px){

    nav,ul{
        gap: 200px;

    }
    
}

div.icone{

    display: flex;
    gap: 30px;
}